<!DOCTYPE html>
<html>
  <head>
    <title> TODO APP </title>
    <% if ENV['RACK_ENV'] == 'production' %>
      <link href=""> </link>
    <% else %>
      <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/styles.css"></link>
    <% end %>
  </head>
  <body>
    <div id="root">
    </div>
    <% if ENV['RACK_ENV'] == 'production' %>
      <script src=""></script>
    <% else %>
      <script src="http://localhost:8080/static/bundle.js"></script>
    <% end %>
  </body>
</html>
